/* Colors
 *
 * The colors are also used in the 'helpers/_colors.scss' to make helper classes.
 * If you removed a color u get an error of an undefined variable. 
 * Please remove the variable from the variable map in 'helpers/_colors.scss' to resolve the issue(s).
 * 
 * If you added a variable and want a helper class for it, please add it to the map in 'helpers/_colors.scss'.
*/
$primary-color: #000000;
$secondary-color: #000000;
$tertiary-color: #ffffff;

$text-color: #ffffff;
$dark-color: #000000;
$light-color: #ffffff;

// Gradients
$gradients: (
    chill: (
        type: radial,
        deg: 135deg,
        radical-extent-keyword: 'circle at center', 
        colors: (#09e485,#0291e3),
        fallback: #0291e3,
    ),
    warm: (
        deg: 180deg,
        image: 'https://www.w3schools.com/w3css/img_lights.jpg',
        colors: (rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .3) 100%),
        fallback: rgba(0, 0, 0, .3)
    ),
);