// Responsive
$tablet-up: 768px !default;
$desktop-up: 1024px !default;

@if $use-em-for-breakpoints {
    $tablet-up: em(768px);
    $desktop-up: em(1024px);
}
/*
 * Break points bootstrap uses:
 *  - 576px
 *  - 768px
 *  - 992px
 *  - 1200px
*/