// Font weights
$font-weights: (
    normal:    400,
    bold:      600,
    bolder:    800,
    light:     300,
    lighter:   200,
);

$normal: map-get($font-weights, normal);
$bold: map-get($font-weights, bold);

// Headings
$heading-font:     'Helvetica';
$heading-fallback: 'Arial', sans-serif;
$heading-weight:   $normal;

// Text
$base-font:     'Arial';
$base-fallback: 'Helvetica', sans-serif;
$base-weight:   $normal;


// Base font size (if changed, also change: $browser-default-font-size in functions/_px-to-rem.scss and functions/_px-to-em.scss)
$base-font-size: 16px;

$base:    base; // Base property is for all screens.
$tablet:  tablet; // Tablet property is for all screens above mobile format.
$desktop: desktop; // Desktop property is for all screens above tablet format.

$typography: (
    body: (
        font-size: (
            $base: 50px,
        ),
        line-height: (
            $base: line-height(12px, 14px),
            $tablet: line-height(15px, 18px),
        ),
    ),

    h1: (
        font-size: (
            $base: 35px,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
        ),
    ),

    h2: (
        font-size: (
            $base: 20px,
            $tablet: 26px,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
        ),
    ),

    h3: (
        font-size: (
            $base: 16px,
            $tablet: 22px,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
        ),
        font-weight: (
            $base: $normal,
        ),
    ),

    h4: (
        font-size: (
            $base: 12px,
            $tablet: 20px,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
        ),
    ),

    h5: (
        font-size: (
            $base: 10px,
            $tablet: 18px,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
        ),
    ),

    h6: (
        font-size: (
            $base: 8px,
            $tablet: 16px,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
        ),
    ),

    p: (
        font-size: (
            $base: 8px,
            $tablet: 16px,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
        ),
    ),
);