{
    "presets": [
        ["@babel/preset-env", {
            "modules": false
        }]
    ],
	"plugins": [
        ["babel-plugin-root-import", {
            "rootPathSuffix": "/src/scripts",
            "rootPathPrefix": "@"
        }]
    ]
}