/*
 * If true give all elements a style of:
 * - background-color: black;
 * - color: green;
 * - outline: red;
 *
*/

@if $check-grid {
    * {
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
    }
}