/* ------------------------------------------------------------------------- *\
 * @mixin vertical-center
 *
 * This mixin takes one parameters:
 *
 *   1st: $position for the position value of the element. Defaults to: relative
 *
 * Description:
 *   The vertical-center mixin is used to position elements in the vertical center.
 *
 * Usage:
 *   @include vertical-center(); // No parameters if you want to use the already defined ones
 *   @include vertical-center(absolute); // With parameters if you want to override the already defined ones
/* ------------------------------------------------------------------------- */

@mixin vertical-center($position: relative) {
	position: $position;
	top: 50%;
	transform: translateY(-50%);
}