/*
 * @mixin border-gradient()
 * 
 * @param { $map } Map with values.
 * @param { $thickness } the thickness of the border width.
 * @param { $style } the style of the border.
 * 
 * Description:
 *  The border-gradient mixin will use the $gradient variable map in the abstract/_variable.scss file to make the gradients
 *  The colors and deg properties are required, the others have a default value.
 *  A fallback border-color will be made from the first color in the colors map variable
 *  Or by the fallback propertie in the list.
 *
 *  If the type of the gradient is 'radial' the '$deg' variable will be null and gets replaced by the '$radical-extent-keyword' variable.
 *  If the type is 'linear' the '$radical-extent-keyword' variable will be null and the '$deg' will be used.
 * 
 * Usage:
 *  @include border-gradient($gradient-map) // Without $deg so it will use the $deg from the $gradient-map variable
 *  @include border-gradient(map-get($gradients, chill)); // With a list from the parent map $gradients.
 *  @include border-gradient($gradient-map, 200deg) // with $deg so it will override the $deg variable from the map (usefull for animations).
*/

@mixin border-gradient($map, $thickness, $style) {

    $type:                    linear !default;
    $thickness:               5px !default;
    $style:                   solid !default;
    $radical-extent-keyword: 'circle at center' !default;

    $colors:        map-get($map, colors);
    $fallback:      unquote('#{nth($colors, 1)}') !default;
    $fallback:      str-replace($fallback, ' 0%', '');
    
    $gradient-type: return-map-value($map, type, $type);
    $fallback:      return-map-value($map, fallback, $fallback);
    $deg:           return-map-value($map, deg, 180deg);

    @if #{$gradient-type} == radial {
        $deg: null;
        $radical-extent-keyword: return-map-value($map, radical-extent-keyword, 'circle at center');
        $radical-extent-keyword: unquote($radical-extent-keyword);
    }
    @else {
        $radical-extent-keyword: null;
    }
    
    border-color: $fallback;
    border-width: $thickness;
    border-style: $style;
    border-image: #{$gradient-type} + '-gradient(' + ($deg, $radical-extent-keyword, $colors) + ')';
    border-image-slice: 1;
}