/*
 * @mixin scrollbar
 * 
 * Makes custom scrollbar, styling comes from the 'variables/_scrollbar.scss' file.
 * Only works on webkit browsers.
 * 
 * scrollbar takes four parameters:
 * 
 * @params { $width } width of the scrollbar
 * @params { $bg-color } background-color of the scrollbar
 * @params { $track-color } track color of the scrollbar track
 * @params { $thumb-color } thumb color of the scrollbar thumb
 * @params { $border-radius } border radius of the scrollbar track and thumb
 * 
 * @return styling properties.
*/

@mixin scrollbar($width, $bg-color, $track-color, $thumb-color, $border-radius) {

    ::-webkit-scrollbar {
        width: $width;
        background-color: $bg-color;

        &-track {
            border-radius: $border-radius;
            background-color: $track-color;
        }

        &-thumb {
            border-radius: $border-radius;
            background-color: $thumb-color;
        }
    }
    @include ie-fallback(){
        scrollbar-face-color: $bg-color;
        scrollbar-track-color: $track-color;
    }
    @warn 'Custom scrollbar styling only works on webkit browsers.';
}
