/* ------------------------------------------------------------------------- *\
 * @mixin border-radius
 *
 * This mixin takes two parameters:
 *
 *   @param { $radius } is the radius of the borders
 *
 *   @param { $type } is which borders will be rounded
 *    Choose between: 'top', 'bottom', 'left' or 'right'
 *
 *   @return { $property: $value } border-radius
 *
 * Description:
 *   The border-radius mixin makes rounded borders for elements. You can define which borders will be rounded
 * 
 * Usage:
 *   @include border-radius(18px, 'top');
/* ------------------------------------------------------------------------- */

@mixin border-radius($radius, $type) {
    @if $type == 'top' {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;       
    } @else if $type == 'bottom' {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
    } @else if $type == 'left' {
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
    } @else if $type == 'right' {
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
    } @else {
        @error "Invalid parameter. Expected: 'top', 'bottom', 'left' or 'right'. Got: '#{$type}'";
    }
}
