/* ------------------------------------------------------------------------- *\
 * @mixin pseudo
 * 
 * This mixin takes three parameters:
 *
 *   @param { $display }, The display of the element. Defaults to 'block'
 *    Choose between: 'inline', 'flex', 'inlineblock', etc
 *  
 *   @param { $pos }, The position type of the element. Defaults to 'absolute'
 *    Choose between: 'absolute', 'fixed', 'unset', 'relative', etc
 *
 *   @param { $content }, The content of the pseudo element. Defaults to an empty string: ''
 *
 *   @return { $propertie: $value }
 *
 * Descriotion:
 *   Makes it possible to add in one line the neccesarry properties to a pseudo element, so you can use it.
 *
 * Usage:
 *   :before {
 *     @mixin pseudo(); // No parameters to use the already defined ones: block, absolute and ''.
 *     @mixin pseudo(inline, relative, 'text example'); // Use parameters to override the already defined ones.
 *   }
/* ------------------------------------------------------------------------- */

@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}