// Headings
$heading-font:     'Helvetica';
$heading-fallback: 'Arial', sans-serif;
$heading-weight:   $normal;

// Text
$base-font:     'Arial';
$base-fallback: 'Helvetica', sans-serif;
$base-weight:   $normal;