/* 
 * If true, all elements will be styled with a: 
 * - background-color of black
 * - color of green
 * - outline of red
 *
 * This is usefull for debbuging unwanted overflow or if you wanna see what happens with the responsivness of the grid.
*/
$check-grid: false;


/*
 * If true, all elements in the $typography variable (with a font-size property) in the 'variables/_typography.scss'
 * will have a:
 * - font-size with a calculated 'rem' value based on the $browser-default-font-size variable in the: px-to-rem, px-to-em and typography.scss files.
 * - second font-size with a pixel value as fallback for IE <= 10.
 *
 * If in the $typography variable a value is already defined with a 'rem' unit 
 * or gets calculated with the 'rem()' function it will be compiled with the same unit and value, except
 * if the $font-pixel-fallback is true. Than a second font-size will be added as fallback with the recalculated 'rem' value back to 'pixels'.
*/
$font-pixel-fallback: true;


/*
 * If true support legacy browsers IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
*/
$legacy_browser_support: false;