// Colors
$primary-color: #000000;
$secondary-color: #000000;
$tertiary-color: #ffffff;

$text-color: #ffffff;
$dark-color: #000000;
$light-color: #000000;

// Gradients
$gradients: (
    chill: (
        type: radial,
        deg: 135deg,
        radical-extent-keyword: 'circle at center', 
        colors: (#09e485,#0291e3),
        fallback: #0291e3,
    ),
    warm: (
        colors: (#F2CD48 0%,#FD803F 100%),
    ),
);