// Font weights
$normal:    400;
$bold:      600;
$bolder:    800;
$light:     300;
$lighter:   200;

// Headings
$heading-font:     'Helvetica';
$heading-fallback: 'Arial', sans-serif;
$heading-weight:   $normal;

// Text
$base-font:     'Arial';
$base-fallback: 'Helvetica', sans-serif;
$base-weight:   $normal;


// Base font size (if changed, also change: $browser-default-font-size in functions/_px-to-rem.scss and functions/_px-to-em.scss)
$base-font-size: 16px;

$base:   base; // Base property is for all screens.
$tablet: tablet; // Tablet property is for all screens above mobile format.
$desktop: desktop; // Desktop property is for all screens above tablet format.

$typography: (
    body: (
        font-size: (
            $base: rem($base-font-size),
            $tablet: rem(18px),
            $desktop: null,
        ),
        line-height: (
            $base: line-height(12px, 14px),
            $tablet: line-height(15px, 18px),
            $desktop: null,
        ),
    ),

    h1: (
        font-size: (
            $base: rem(206px),
            $tablet: null,
            $desktop: null,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
            $desktop: null,
        ),
    ),

    h2: (
        font-size: (
            $base: rem(20px),
            $tablet: rem(26px),
            $desktop: null,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
            $desktop: null,
        ),
    ),

    h3: (
        font-size: (
            $base: rem(16px),
            $tablet: rem(22px),
            $desktop: null,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
            $desktop: null,
        ),
        font-weight: (
            $base: 300,
            $tablet: null,
            $desktop: null,
        ),
    ),

    h4: (
        font-size: (
            $base: rem(12px),
            $tablet: rem(20px),
            $desktop: null,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
            $desktop: null,
        ),
    ),

    h5: (
        font-size: (
            $base: rem(10px),
            $tablet: rem(18px),
            $desktop: null,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
            $desktop: null,
        ),
    ),

    h6: (
        font-size: (
            $base: rem(8px),
            $tablet: rem(16px),
            $desktop: null,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
            $desktop: null,
        ),
    ),

    p: (
        font-size: (
            $base: rem(8px),
            $tablet: rem(16px),
            $desktop: null,
        ),
        line-height: (
            $base: 1.2,
            $tablet: 1.5,
            $desktop: null,
        ),
    ),
);