/*
 * Z-indexes for the z-index mixin.
 *
 * Add an varaible to the map and include it in to your class:
 * @include z-index(header);
 *
 * The 'z-index' mixin already has the '$z-indexes' variable defined in the 'map-get', so you only have to pass in the propertie.
*/
$z-indexes: (
    header: 10,
    footer: 10,
    modal:  10,
    navbar: 10,
);