$all-text: (
    body: $body, 
    h1: $h1,
    h2: $h2,
    h3: $h3,
    h4: $h4,
    h5: $h5,
    h6: $h6,
    p: $p
);

@each $property, $variable in $all-text {
    $sizes: map-get($variable, size);
    $color: map-get($variable, color);
    $font-weight: map-get($variable, font-weight);

    #{$property}, .#{$property} {
        font-size: map-get($sizes, $font-base);
        color: $color;
        font-weight: $font-weight;
    }
}      
@include tablet {
    @each $property, $variable in $all-text {
        $sizes: map-get($variable, size);

        #{$property}, .#{$property} {
            font-size: map-get($sizes, $font-tablet);
        }
    }
}
