// Width classes
$width-values: (full: 100%, half: 50%, auto: auto, inherit: inherit, unset: unset);

@each $property, $value in $width-values {
    .width-#{$property} {
        width: $value;
    }
}

// Max width classes
$max-width-values: (full: 100%, half: 50%, none: none, inherit: inherit, unset: unset);

@each $property, $value in $max-width-values {
    .max-width-#{$property} {
        max-width: $value;
    }
}

// Min width classes
$min-width-values: (full: 100%, half: 50%, auto: auto, inherit: inherit, fit-content: fit-content);

@each $property, $value in $min-width-values {
    .min-width-#{$property} {
        min-width: $value;
    }
}