// Font weights
$normal: 400;
$bold: 600;
$black: 800;
$light: 300;
$lighter: 200;

// Headings
$heading-font: 'Helvetica';
$heading-fallback: 'Arial', sans-serif;
$heading-weight: $normal;

// Text
$base-font: 'Arial';
$base-fallback: 'Helvetica', sans-serif;
$base-weight: $normal;

// Base font size (if changed, also change: $browser-default-font-size in functions/_px-to-rem.scss and functions/_px-to-em.scss)
$base-font-size: 16px;

// Font Sizes
$font-base: base; // Base property is for all screens.
$font-tablet: tablet; // Tablet property is for all screens above mobile format.

$body: (
	$font-base: rem(14px),
	$font-tablet: rem(18px),
);

$h1: (
	$font-base: rem(26px),
	$font-tablet: rem(30px),
);

$h2: (
	$font-base: rem(20px),
	$font-tablet: rem(26px),
);

$h3: (
	$font-base: rem(16px),
	$font-tablet: rem(22px),
);

$h4: (
	$font-base: rem(12px),
	$font-tablet: rem(20px),
);

$h5: (
	$font-base: rem(10px),
	$font-tablet: rem(18px),
);

$h6: (
	$font-base: rem(8px),
	$font-tablet: rem(16px),
);

$p: (
	$font-base: rem(8px),
	$font-tablet: rem(16px),
);