/*
 * If true give all elements a style of:
 * - background-color: black;
 * - color: green;
 * - outline: red;
 *
*/

@if $check-grid {

    * {
        background: #000000 !important;
        color: #00ff00 !important;
        outline: solid #ff0000 1px !important;
    }
}